body{
    background-color: #F9F8F6;
}

.content {
        background-color: #EFE9E3;
        max-width: fit-content;
        padding: 60px;
        border-radius: 50px;
        box-shadow: 10px 10px 5px #A88D77;
}

.title-content{
            text-align: center;
}

.change_language{
    display: block;
    color: #C9B59C;
    text-align: right;
}

.return{
    color: #C9B59C;
}

#title{
    color: #6E5034;
}

#subtitle{
    margin-top: 20px;
    color: #A88D77;
}

.error{
    color: #EB4C4C;
    text-align: center;
}

.form-content{
    margin-top: 70px;
}

.form-field{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#drop-area {
     border: 2px dashed #C9B59C;
    border-radius: 20px;
    width: 300px;
    padding: 50px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#drop-area.highlight {
     border-color: #C9B59C;
    background-color: #D9CFC7;
}

#drop-area p {
    color: #A88D77;
}

#gallery {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
        border: 2px solid #ddd;
}

#submit-btn {
    margin-top: 10px;
    --bs-btn-padding-y: .4rem;
    --bs-btn-padding-x: .9rem;
    --bs-btn-font-size: .95rem;
}

.btn-outline-nude {
  --bs-btn-color: #A88D77; 
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #C9B59C;
  
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #C9B59C;
  --bs-btn-hover-border-color: #C9B59C;
  
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8E7561;
  --bs-btn-active-border-color: #8E7561;
  --bs-btn-focus-shadow-rgb: 168, 141, 119;
}

.remark{
    text-align: center;
    margin-top: 40px;
    color: #C9B59C;
}

.result-text {
    color: #A88D77;
    text-align: center;
    font-size: 18px;
}

.original-img{
    border-radius: 20px;
}

#copyright{
    display: block;
    color: #A88D77;
    font-size: 12px;
    text-align: right;
}